.description {
    color: rgb(75 85 99) !important;
}

[data-bs-theme="dark"] .description, [data-bs-theme="dark"] .title {
    color: white !important;
}


.form-card, .profile-footer  {
    background-color: white;
}

[data-bs-theme="dark"] .form-card, [data-bs-theme="dark"] .profile-footer  {
    background-color: #1e1e1e;
}

[data-bs-theme="dark"] label {
    color: white !important;
}

[data-bs-theme="dark"] input {
    background-color: rgb(23 23 23);
    border: 1px solid rgb(23 23 23) !important;
    color: #ababab;
}

input {
    height: 2.2rem !important;
    border: 1px solid grey !important;
}

.session-icon, .session-device {
    color: rgb(107 114 128);
}

.session-ip, .session-plataform {
    font-weight: 600;
    color: rgb(31 41 55) !important;
}

[data-bs-theme="dark"] .session-icon, [data-bs-theme="dark"] .session-device, [data-bs-theme="dark"] .session-ip, [data-bs-theme="dark"] .session-plataform{
    color: white !important;
    font-weight: 500;
}



.section-profile {
    max-width: 80rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.profile-card {
    margin-top: 2.5rem !important;
}

@media (min-width: 640px) {
    .section-profile {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .profile-card {
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    .section-profile {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


.bg-gray-50 {
    background-color: rgb(249 250 251);
}

.mt-5 {
    margin-top: 1.25rem;
}

.text-lg {
    font-size: 1.125rem;
}

.font-medium {
    font-weight: 500;
}

.text-gray-900 {
    color: #1F2937;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.col-span-1 {
    grid-column: span 1;
}

.col-span-2 {
    grid-column: span 2;
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.bg-white {
    background-color: #ffffff;
}

.mt-1 {
    margin-top: 0.25rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-gray-600 {
    color: #4b5563;
}

.shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid {
    display: grid;
}

.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.gap-6 {
    gap: 1.5rem;
}

.col-span-6 {
    grid-column: span 6 / span 6;
}

.block {
    display: block;
}

.text-gray-700 {
    color: #4a5568;
}

.border-gray-300 {
    border-color: #d1d5db;
}

.focus\:border-indigo-500:focus {
    border-color: #4f46e5;
}

.focus\:ring-indigo-500:focus {
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.5);
}

.rounded-md {
    border-radius: 0.375rem;
}

.shadow-sm {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.w-full {
    width: 100%;
}

.items-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.text-end {
    text-align: right;
}

.me-3 {
    margin-right: 0.75rem;
}

.inline-flex {
    display: inline-flex;
    align-items: center;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.bg-gray-800 {
    background-color: #2d3748;
}

.border {
    border-width: 1px;
}

.border-transparent {
    border-color: transparent;
}

.font-semibold {
    font-weight: 600;
}

.text-xs {
    font-size: 0.75rem;
}

.text-white {
    color: #fff;
}

.uppercase {
    text-transform: uppercase;
}

.tracking-widest {
    letter-spacing: 0.1em;
}

.hover\:bg-gray-700:hover,
.focus\:bg-gray-700:focus {
    background-color: #4a5568;
}

.active\:bg-gray-900:active {
    background-color: #1a202c;
}

.focus\:outline-none:focus {
    outline: none;
}

.focus\:ring-2:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
}

.focus\:ring-offset-2:focus {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
}

.disabled\:opacity-50:disabled {
    opacity: 0.5;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.border-t {
    border-top-width: 1px;
}

.border-gray-200 {
    border-color: #e5e7eb;
}

input {
    padding-left: .3rem;
}

.w-8 {
    width: 2rem;
}

.h-8 {
    height: 2rem;
}

.overflow-y-auto {
    overflow-y: auto;
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.bg-gray-500 {
    background-color: #6b7280;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .max-w-md {
        max-width: 28rem;
    }
    .md\:col-span-1 {
        grid-column: span 1;
    }
    .md\:col-span-2 {
        grid-column: span 2;
    }
    .md\:mt-0 {
        margin-top: 0;
    }
    .md\:grid {
        display: grid;
    }
    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .md\:gap-6 {
        gap: 1.5rem;
    }
}

@media (min-width: 640px) {
    .sm\:w-full {
        width: 100%;
    }
    .sm\:mx-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .sm\:translate-y-0 {
        transform: translateY(0);
    }
    .sm\:scale-95 {
        transform: scale(0.95);
    }
    .sm\:scale-100 {
        transform: scale(1);
    }
    .max-w-sm {
        max-width: 24rem;
    }
    .sm\:px-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .sm\:rounded-tl-md {
        border-top-left-radius: 0.375rem;
    }
    .sm\:rounded-tr-md {
        border-top-right-radius: 0.375rem;
    }
    .sm\:p-6 {
        padding: 1.5rem;
    }
    .sm\:col-span-4 {
        grid-column: span 4 / span 4;
    }
    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .sm\:col-span-6 {
        grid-column: span 6 / span 6;
    }
}

@media (min-width: 360px) {
    .sm\:hidden {
        display: none;
    }
}

  /* modo escuro */

  [data-bs-theme="dark"] .bg-white, [data-bs-theme="dark"] .bg-gray-50 {
background-color: #1a202c !important;
  }
