.description {
    color: rgb(75 85 99) !important;
}

[data-bs-theme="dark"] .description, [data-bs-theme="dark"] .title {
    color: white !important;
}


.form-card {
    background-color: white;
}

[data-bs-theme="dark"] .form-card, [data-bs-theme="dark"] .footer-card  {
    background-color: #1e1e1e;
}

[data-bs-theme="dark"] label {
    color: white !important;
}

.input {
    color: rgb(212 212 216);
}
[data-bs-theme="dark"] input {
    background-color: rgb(23 23 23);
    border: 1px solid rgb(23 23 23) !important;
    color: #ababab;
}


.session-icon, .session-device {
    color: rgb(107 114 128);
}

.session-ip, .session-plataform {
    font-weight: 600;
    color: rgb(31 41 55) !important;
}

[data-bs-theme="dark"] .session-icon, [data-bs-theme="dark"] .session-device, [data-bs-theme="dark"] .session-ip, [data-bs-theme="dark"] .session-plataform{
    color: white !important;
    font-weight: 500;
}
