.financeiro {
    border-left: 3px solid #3b7ddd !important;
    background-color: #e2e2e2af !important;
}

.financeiro:hover {
    background-color: #e2e2e2af !important;
}

.table-responsive {
    margin-top: 1rem;
    background-color: #ffff;
    padding: .875rem 2rem 2rem 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.title {
    font-size: 21px;
    font-weight: 600;
    color: #040125;
}

.table-header {
    display: flex;
    margin-bottom: 15px;
}

.table-desc {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.subtitle {
    margin: 0 !important;
    font-size: 13px;
}

.action {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-top: .8rem;
}

#novo {
    height: 1.95rem;
    border: 2px solid #ff0000;
    color: #ff0000;
    padding: 0 .7rem;
    border-radius: 20px;
    font-weight: 600;
}

.search-box {
    width: 45%;
    display: flex;
    margin-right: .4rem;
}
#search {
    width: 100%;
    padding: 0 .6rem;
    height: 1.95rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #888888;
    margin-right: .3rem;
    color: #575757;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #2f515f;
    width: 50px;
    font-size: 14px;
    height: 1.95rem;
}

.table {
    border: 1px solid #e2e2e2;
}

th {
    color: #686868 !important;
}

.graficos {
    display: flex;
    gap: 1rem;
}

.grafico-1, .grafico-2 {
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    height: 400px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    padding: 20px;
}

.graphLabel {
    text-align: center;
}

.grafico-1 {
    flex: 0 0 63%; /* O gráfico 1 vai ocupar 60% do espaço */
}

.grafico-2 {
    flex: 0 0 35.6%; /* O gráfico 2 vai ocupar o restante 38% */
}

/* Deixa os canvas responsivos e centralizados */
.grafico-1 canvas {
    width: 100% !important;
    height: 100% !important; 
    max-width: 100%; 
    max-height: 100%;
    display: block;
    margin: auto; 
}

/* Modo Escuro */

[data-bs-theme="dark"] .table-responsive,
[data-bs-theme="dark"] .table {
    background-color: #1e1e1e !important;
    --bs-table-bg: #1e1e1e;
}

[data-bs-theme="dark"] .title{
color:  rgb(110 168 253);

}

[data-bs-theme="dark"] th{
    color: #fff !important;
}

[data-bs-theme="dark"] #novo{
    background-color: transparent;
}

[data-bs-theme="dark"] #exportar{
    background-color: transparent;
}

[data-bs-theme="dark"] canvas{
    background-color: #1e1e1e;
}

[data-bs-theme="dark"] .grafico-1{
    background-color: #1e1e1e;
}


[data-bs-theme="dark"] .grafico-2{
    background-color: #1e1e1e;
}

[data-bs-theme="dark"] .financeiro,
[data-bs-theme="dark"] .financeiro:hover {
    background-color: #2b2b2baf !important;
}



