.fornecedores {
    border-left: 3px solid #3b7ddd !important;
    background-color: #e2e2e2af !important;
}
.fornecedores:hover{
    background-color: #e2e2e2af !important;
}

.table-responsive .title {
    padding-top: .8rem;
    font-size: 21px;
    font-weight: 600;
    color: #040125;
    flex: 1;
}

.table {
    border: 1px solid #e2e2e2;
}

th {
    color: #686868 !important;
}

.table-responsive {
    margin-top: 2rem;
    background-color: #ffff;
    padding: .875rem 2rem 2rem 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2px;
    padding-top: .8rem;
    flex: 1;
}


.search-box {
    width: 45%;
    display: flex;
    margin-right: .4rem;
}
#search {
    width: 100%;
    padding: 0 .6rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #888888;
    margin-right: .3rem;
    color: #575757;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #2f515f;
    width: 50px;
}

#novo {
    border: 2px solid #0561fc;
    color: #0561fc;
    padding: 0 .7rem;
    border-radius: 20px;
    font-weight: 600;
}

.table {
    margin-bottom: 6px;
}

.acao:nth-child(2){
    background-color: red;
    color: #fff;
    border: 1px solid rgb(146, 3, 3);
}

.acao:last-child{
    background-color: blue;
    color: #fff;
    border: 1px solid rgb(13, 13, 211);
}

.contatos {
    font-size: 18px;
}
.contatos span {
    font-size: 15px;
    margin-left: 0;
    font-weight: 500;
}