.fornecedores {
    border-left: 3px solid #3b7ddd !important;
    background-color: #e2e2e2af !important;
}
.fornecedores:hover{
    background-color: #e2e2e2af !important;
}

.table-group .title {
    padding-top: .8rem;
    font-size: 21px;
    font-weight: 600;
    color: #040125;
    flex: 1;
}

.table {
    border: 1px solid #e2e2e2;
}

th {
    color: #686868 !important;
}

.table-group {
    margin-top: 2rem;
    background-color: #ffff;
    padding: .875rem 2rem 2rem 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2px;
    padding-top: .8rem;
    flex: 1;
}


.search-box {
    width: 45%;
    display: flex;
    margin-right: .4rem;
}
#search {
    width: 100%;
    padding: 0 .6rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #888888;
    margin-right: .3rem;
    color: #575757;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #2f515f;
    width: 50px;
}

#novo {
    border: 2px solid #0561fc;
    color: #0561fc;
    padding: 0 .7rem;
    border-radius: 20px;
    font-weight: 600;
    background-color: transparent;
}

.table {
    margin-bottom: 6px;
}

.acao:nth-child(2){
    background-color: red;
    color: #fff;
    border: 1px solid rgb(146, 3, 3);
}

.acao:last-child{
    background-color: blue;
    color: #fff;
    border: 1px solid rgb(13, 13, 211);
}

.contatos {
    font-size: 18px;
}
.contatos span {
    font-size: 15px;
    margin-left: 0;
    font-weight: 500;
}

/* Modo Escuro */

[data-bs-theme="dark"] .table-group{
    background-color: #212529;
}

[data-bs-theme="dark"] .title{
color:  rgb(110 168 253);

}

[data-bs-theme="dark"] label {
    color: #fff !important;
}

[data-bs-theme="dark"] #novo{
    background-color: transparent;
}

[data-bs-theme="dark"] #exportar{
    background-color: transparent;
}

[data-bs-theme="dark"] .subtitle{
    color: #fff;

}

[data-bs-theme="dark"] .title {
    color: rgb(139 185 254);
}

[data-bs-theme="dark"] .table-group,
[data-bs-theme="dark"] .table {
    background-color: #1e1e1e !important;
    --bs-table-bg: #1e1e1e;
}
[data-bs-theme="dark"] .table {
    border: 1px solid #494949 !important;
}

[data-bs-theme="dark"] th {
    color: #adadad !important;
}

/* [data-bs-theme="dark"] th {
    color: #fff !important;
} */

[data-bs-theme="dark"] .fornecedores,
[data-bs-theme="dark"] .fornecedores:hover {
    background-color: #2b2b2baf !important;
}

@media screen and (max-width: 769px) {
    .table-header {
        flex-direction: column;
    }

    .actions {
        align-items: end;
        gap: 6px;
        flex-direction: column-reverse;
    }

    .search-box {
        width: 100%;
        height: 2.3rem;
        margin: 0;
    }

    #search {
        margin: 0;
    }

    .icon {
        margin: 0;
    }

    #novo {
        width: 12rem;
        height: 2rem;
    }
}
