.estoque,
.tintas {
    border-left: 3px solid #3b7ddd !important;
    background-color: #e2e2e2af !important;
}

.cards {
    display: flex;
    gap: 0.8rem;
    margin-top: 2rem;
    width: 100%;
}

.card {
    height: 8.75rem;
    width: 18rem;
    box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.06);
}

.card:nth-child(1) {
    border-left: 3px solid blue !important;
}

.card:nth-child(2) {
    border-left: 3px solid #dbdb02 !important;
}

.card:nth-child(3) {
    border-left: 3px solid red !important;
}

.card-title {
    padding: 0.8rem;
    font-size: 13px;
}

.card-body {
    font-size: 32px;
}

.table-group {
    margin-top: 2rem;
    background-color: #ffff;
    padding: 0.875rem 2rem 2rem 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.button-group {
    padding-top: 0.8rem;
}

#novo {
    border: 2px solid #0561fc;
    color: #0561fc;
}

#exportar {
    border: 2px solid #d62525;
    color: #d62525;
}
.button-group button {
    padding: 0 0.7rem;
    border-radius: 20px;
    font-weight: 600;
}

#filtrar {
    border: 2px solid black;
    color: black;
}
.table-group .title {
    padding-top: 0.8rem;
    font-size: 21px;
    font-weight: 600;
    color: #040125;
}

.table {
    border: 1px solid #e2e2e2;
}

th {
    color: #686868 !important;
}

/* Modo Escuro */

[data-bs-theme="dark"] .table-group,
[data-bs-theme="dark"] .table {
    background-color: #1e1e1e !important;
    --bs-table-bg: #1e1e1e;
}

[data-bs-theme="dark"] .card {
    background-color: #1e1e1e;
    border: none;
}

[data-bs-theme="dark"] .title {
    color: rgb(110 168 253);
}

[data-bs-theme="dark"] th {
    color: #fff !important;
}

[data-bs-theme="dark"] #novo {
    background-color: transparent;
}

[data-bs-theme="dark"] #exportar {
    background-color: transparent;
}

[data-bs-theme="dark"] .estoque,
[data-bs-theme="dark"] .tintas {
    background-color: #2b2b2baf !important;
}

[data-bs-theme="dark"] label {
    color: #fff !important;
}

/* Responsivo */

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 769px) {
    .cards {
        flex-direction: column;
    }

    .cards a {
        display: flex;
        justify-content: center;
    }

    .button-group {
        padding-top: 0;
        padding-bottom: 0.5rem;
        display: flex;
        justify-content: flex-end;
    }

    .button-group button {
        font-size: 14px;
    }

    .table-header {
        flex-direction: column;
    }
}
